.fil0 {
    fill:url(#id0);
    background-color:none 
    !important;
    box-shadow: 0 0 100px rgb(255, 0, 0);
}
.fil1 {
    fill:#06B445;
    fill-rule:nonzero;
    background-color:none 
    !important;
    box-shadow: 0 0 100px rgb(34, 34, 34);
}