.container{
  /* position: absolute; */
  left: 1%;
  top:7%;
  display: flex;
  flex-direction: column;
  z-index: -1;


}
.icon{
  width:8%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon p{
    color: #5c5c5c;
    font-size: 12px;
}
.colco{
  filter: drop-shadow(0 0 4px black);
}

.fil0 {fill:url(#id0);
  
}
.fil1 {fill:#e2e2e2}
.fil2 {
  fill:rgba(0, 255, 255, 0); 
  cursor: pointer;
  
}
.fil2:hover {
  fill:rgba(0, 47, 255, 0.281);
}
.fil4 {
  fill:#222848; 
  cursor: pointer;
  
  
}

.fil4:hover {
  fill:#0026ff;
}

