.bar{
  position: fixed;
  right: 0.5rem;
  bottom: 0.5rem;
}
.fil4 {fill:#E31E24}
.fil4:hover {fill:#00ff4c}
.fil5 {fill:#ffffff}
.fil7 {fill:#213884}
.fil0 {fill:#445C80}
.fil1 {fill:#5C77B8}
.fil2 {fill:#6C8CD5}
.fil6 {fill:#72A7DD}
.fil6:hover {fill:#92c8ff}
.fil3 {fill:#D3EAFC;
  pointer-events: none;
}
.fil8 {fill:white}
.fil9 {
  fill:#213884;
  fill-rule: nonzero
}
.fil10 {fill:url(#id0)}
/* .fil11 {fill:url(#id1)} */
.fil11 {fill:currentColor}
