.container{
  
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color:rgb(235, 235, 235);
    z-index: -1;
    
  }
  .sss{
    background-color:none !important;
  }
  .line{
    display: flex;
    justify-content: space-around;
  }
  
   .fil0 {fill:#CCCCCC;}